{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Main{% endblock %}

{% block content %}

<table id="app" class="table" data="{{ json }}">
  <thead class="thead-dark">
    <tr>
            <th v-for="item in page" scope="col" class="text-center">!{ item.alias }</th>
    </tr>
  </thead>
  <tbody>
    <tr>
            <td v-for="item in page" class="text-center">
                <a class="nav-link text-truncate" :href="'detail/' + item.alias + item.globalId">
                        <i v-if="item.status == 'SUCCESS'" class="fa fa-check" style="color: green;"></i>
                        <i v-if="item.status == 'CRASH'" class="fa fa-remove" style="color: red;"></i>
                        <i v-if="item.status == 'NO_DATA'" class="fa fa-minus" style="color: black;"></i>
                </a>
            </td>
    </tr>
  </tbody>
</table>
<hr>

{% endblock %}